
.admin-container {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  margin: 20px auto;
  padding: 20px;
}


.admin-container h1 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 32px;
  color: #333;
}

.admin-container p {
  text-align: center;
  color: #666;
  margin-bottom: 20px;
}


.dashboard-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}

.dash-card {
  flex: 1 1 calc(33% - 20px);
  background: #f6f8fa;
  border-radius: 10px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.dash-card:hover {
  transform: translateY(-5px);
  background: #eef2f5;
}

.dash-card h2 {
  font-size: 40px;
  margin: 0;
  color: #007bff;
  font-weight: bold;
}

.dash-card p {
  margin: 5px 0 0;
  color: #444;
  font-size: 18px;
  font-weight: 500;
}



.announcement-section {
  margin-top: 40px;
  text-align: center;
}

.announce-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.announce-box {
  width: 70%;
  margin: auto;
  background: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  border-left: 5px solid #007bff;
}

.announce-item {
  margin-bottom: 15px;
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.announce-item h3 {
  margin: 0;
  color: #03254c;
}
