/* Full header bar */
.app-header {
  background-color: #05204a; /* Dark navy blue */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 30px;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}

/* Left text (Admin Panel) */
.logo-text {
  font-size: 20px;
  font-weight: bold;
}

/* Right side nav menu */
.nav-links {
  display: flex;
  align-items: center;
  gap: 25px;
}

/* Menu links */
.nav-links a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 6px;
  transition: 0.2s ease-in-out;
}

.nav-links a:hover {
  background-color: greenyellow;
  color: black;
  font-weight: 700;
}

/* Logout button */
.logout-btn {
  background-color: #e63946;
  border: none;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #d62839;
}
