/* Page Container */
.AvailableCourse-cont {
  min-height: 100vh;
  padding: 40px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Heading */
.title {
  text-align: center;
  font-size: 40px;
  color: Black;
  font-weight: bold;
  margin-bottom: 25px;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.4);
}

/* Success Message */
.success-message {
  width: fit-content;
  margin: 0 auto 20px;
  padding: 10px 20px;
  background: rgba(0, 128, 0, 0.9);
  color: white;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
}

/* Table */
.courses-table-wrapper {
  width: 90%;
  margin: auto;
}

.courses-table {
  width: 100%;
  border-collapse: collapse;
  background: #ffffffd9;
  border-radius: 12px;
  
}

.courses-table th {
  background: #003399;
  color: orange !important;
  font-weight: bolder !important;;
  padding: 15px;
  text-align: left;
  font-size: 18px;
}

.courses-table td {
  padding: 15px;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  color: #333;
}

.course-name {
  font-weight: bold;
  color: black;
}

/* Buttons */
.enroll-btn {
  background-color: #007bff;
  border: none;
  padding: 7px 18px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.enroll-btn:hover {
  background-color: #0056b3;
}

.enrolled-tag {
  background-color: #28a745;
  padding: 7px 18px;
  color: white;
  border-radius: 6px;
  font-weight: bold;
  display: inline-block;
  font-size: 14px;
}

/* Pagination */
.pagination {
  margin-top: 25px;
  text-align: center;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.pagination button {
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.pagination .active {
  background: #003399;
  color: white;
}

.pagination button:disabled {
  background: gray;
  color: white;
  cursor: not-allowed;
}
