/* Background */
.home-back {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  position: relative;       /* Needed for absolute logo */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Small top-left logo */
.logo-top-left {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 70px;       /* Small icon size */
  height: auto;
  border-radius: 50px;
}

/* Centered content */
.home-container {
  margin-top: 160px;      /* Gives space below logo */
  text-align: center;
}

.home-container h1 {
  font-size: 38px;
  margin-bottom: 10px;
  font-weight: bold;
}

.home-container h2 {
  font-size: 22px;
  margin-top: 0px;
}

/* Buttons */
.home-buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.home-btn {
  padding: 12px 28px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  background-color: #004aad;
  color: white;
}

.home-btn:hover {
  background-color: #003580;
}
.home-buttons a {
  text-decoration: none;
}