.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: pink;
  padding: 40px;
  border-radius: 10px;
  width: 600px;
}

.label-input {
  display: flex;
  flex-direction: row;
  align-items: center;       
  justify-content: flex-start;
  gap: 10px;                 
  width: 100%;
 
}

.label-input select {
  width: 250px;
  padding: 10px;
  margin-left: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


.label-input label {
  width: 130px;              
  font-weight: bold;
  text-align: right;         
}

.label-input input {
  width: 250px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}




.error-message {
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.success-message {
  color: green;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
