.login-container {
  background-color: skyblue;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.login-card {
  background-color: pink;
  padding: 35px 50px;
  width: 520px;
  border-radius: 18px;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
}


.login-heading {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 26px;
}


.form-row {
  display: flex;
  align-items: center;
  margin: 12px 0;
}


.form-row label {
  width: 100px; 
  font-size: 16px;
  font-weight: bold;
  text-align: right;
}


.role-box {
  width: 250px;
  height: 32px; 
  padding: 6px 10px;
  border: 1px solid #aaa;
  border-radius: 8px;
  font-size: 15px;
}


.email-box {
  width: 230px;
}

.email-box input {
  width: 100%;
  height: 10px; 
  padding: 6px 10px;
  border: 1px solid #aaa;
  border-radius: 8px;
  font-size: 15px;
}

.pass-box {
  position: relative;
  width: 250px;
}

.pass-box input {
  width: 100%;
  height: 32px;
  padding: 6px 8px 6px 10px;  
  border: 1px solid #aaa;
  border-radius: 8px;
  font-size: 15px;
  box-sizing: border-box;
}


.eye-icon {
  position: absolute;
  right: 4px;      
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #444;
}





.login-btn {
  display: block;
  width: 140px;
  margin: 24px auto 6px;
  padding: 8px 0;
  background: #007bff;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 17px;
}

.login-btn:hover {
  background: #0056b3;
}


.register-link {
  text-align: center;
  display: block;
  margin-top: 8px;
  font-size: 14px;
  color: blue;
  text-decoration: underline;
}


.msg-error,
.msg-success {
  text-align: center;
  font-weight: bold;
  margin-bottom: 6px;
}
.msg-error { color: red; }
.msg-success { color: green; }

.hint-text,
.error-text {
  text-align: center;
  font-size: 13px;
  margin: -4px 0 6px;
}

.error-text { color: red; }
.hint-text { color: #555; }
