/* LOGOUT PAGE CONTAINER */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: skyblue;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

/* THANK YOU IMAGE */
.thank-you {
  width: 250px;
  height: auto;
  margin: 20px 0;
}

/* BUTTON OPTIONS BELOW IMAGE */
.logout-options {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 15px;
}

/* BUTTON STYLE */
.logout-but {
  text-decoration: none;
  color: black;
  font-weight: bold;
  background-color: orange;
  padding: 8px 14px;
  border-radius: 5px;
  transition: 0.3s;
}


.logout-but:hover {
  background-color: green;
  color: white;
}
