.mycourseContainer{
    display:flex;
    flex-direction: column;
    width: 100%;
  min-height: 100vh;        
  background-size: cover;   
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 

}
.course-head{
    font-size: 50px;
    margin:50px;
    text-align: center;
    
}

.courses-card {
  border: 1px solid black;
  padding: 15px;
  margin: 20px;
  border-radius: 8px;
  cursor: pointer;
  background-color:darksalmon;

}
