.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:skyblue;
  height:100vh;
  width:100vw;
}

.heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  background-color:pink;
  height:90vh;
  width:50vw;
 
}