
.dashbord-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;   
  align-items: center;
  text-align: center;
  padding: 40px 20px;
  min-height: 100vh;
  background-color: blanchedalmond;
}


.dashbord-container h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.dashbord-container h2 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: 600;
}


.courses-list {
  display: flex;
  flex-direction: column;    
  gap: 20px;                 
  width: 100%;
  max-width: 900px;          
  margin-top: 20px;
}


.course-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.course-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}


.course-card h3 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Course Description */
.course-card p {
  font-size: 16px;
  line-height: 1.5;
  color: #444;
}
