.student-dashboard-container {
  min-height: 100vh;
  padding: 40px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


.profile-card {
  display: flex;
  background: #ffffff;
  padding: 25px;
  border-radius: 16px;
  gap: 25px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.profile-photo {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 3px solid #03254c;
  object-fit: cover;
}

.profile-details h2 {
  font-size: 28px;
  margin-bottom: 5px;
}

.email {
  color: #555;
  font-size: 15px;
  margin-bottom: 10px;
}

.profile-buttons {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.btn-primary {
  background: #03254c;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

.btn-secondary {
  background: #e63946;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}


.summary-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.summary-card {
  width: 25%;
  padding: 10px;
  background: #f7f9fc;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.summary-card h2 {
  font-size: 36px;
  color: #03254c;
}

.summary-card p {
  margin-top: 10px;
  font-size: 18px;
}

/* ANNOUNCEMENTS */
.announcement-box {
  margin-top: 40px;
  background: #ffffff;
  padding: 25px;
  border-radius: 16px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.announcement-title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #03254c;
  margin-bottom: 20px;
}

.announcement-item {
  padding: 15px;
  background: #f7f9fc;
  border-radius: 10px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  box-shadow: 0 2px 5px rgba(0,0,0,0.06);
}
