
.dashbord-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;   
  /* align-items: center; */
  /* text-align: center; */
  padding: 40px 20px;
  min-height: 100vh;
  /* background-color: blanchedalmond; */
  width: 100%;
  min-height: 100vh;        
  background-size: cover;   
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}


.dashbord-container h1 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.dashbord-container h2 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: 600;
}


.courses-list {
  display: flex;
  flex-direction: column;    
  gap: 20px;                 
  width: 100%;
  max-width: 900px;          
  margin-top: 20px;
}


.course-card {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  background:beige;
  width:900px;
  padding: 20px;
  border-radius: 10px;
  margin-left:50px;
  text-align: center;
}

.course-card h3 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}


.course-card p {
  font-size: 16px;
  line-height: 1.5;
  color:blue;
}
