.home-back {
  width: 100%;
  min-height: 100vh;        
  background-size: cover;   
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}


.home-container {
  text-align: center;
  margin-top: 120px;
  font-family: Arial, sans-serif;
}

.home-buttons {
  margin-top: 40px;
}

.home-btn {
  padding: 12px 28px;
  margin: 10px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  background-color: #004aad;
  color: white;
}

.home-btn:hover {
  background-color: #003580;
}
.logo-img{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    height:20vh;
    border-radius: 80px;
}
