
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.nav-links {
  background-color: darkblue;
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  list-style: none;
  gap: 20px;
  height: 60px;  
}


.header-list a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  background-color: rgb(244, 163, 219);
  padding: 8px 14px;
  border-radius: 5px;
 
}


.header-list a:hover {
  background-color: green;
}
.home-cont{
display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width:100vw;
  background-color: pink;
}

.home-heading{
  font-size: 80px;
  margin: 0; 
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:skyblue;
  height:100vh;
  width:100vw;
}

.heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  background-color:pink;
  height:60vh;
  width:50vw;
 
}

.label-input{
  
    flex-direction: row;
    justify-content: space-evenly;
    
}
.link-button{
  margin-top:20px;
}
input {
  padding: 10px;
  width: 250px;
  margin: 10px ;
  margin-left: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: green;
}
.thank-you {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  text-align: center;
}

.logout-options{
  display: flex;
  flex-direction: row;
  gap:20px;
  
}
.logout-but{
  text-decoration: none;
  color: black;
  font-weight: bold;
  background-color:orange;
  padding: 8px 14px;
  border-radius: 5px;

}


.logout-but:hover {
  background-color: green;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: blanchedalmond;
  height:100vh;
}